
@{
    ViewBag.Title = "Gioi thieu";
    Layout = "~/Views/Shared/_LayoutChung.cshtml";
}

<div id="module-info-pnj">
    <div class="container">
        <!--<h2 class="h1Title">Thông tin về PNJ</h2>-->
        <div class="director">
            <img alt="Bà Cao Thị Ngọc Dung" class="img-responsive" data-src="../../../../../../../../design/themes/responsive/media/images/footer/director.png" src="../../../../../../../../design/themes/responsive/media/images/footer/director.png">
            <h3 class="name">Bà Cao Thị Ngọc Dung</h3>
            <span class="vac">Chủ tịch HĐQT, Tổng giám đốc</span>
        </div>

        <div class="content">
            <p><strong>Tên doanh nghiệp: CÔNG TY CỔ PHẦN VÀNG BẠC ĐÁ QUÝ PHÚ NHUẬN</strong></p>

            <p><strong>Tên tiếng Anh: Phu Nhuan Jewelry Joint Stock Company</strong></p>

            <p><strong>Tên viết tắt: PNJ.,JSC</strong></p>

            <p>Địa chỉ: 170E Phan Đăng Lưu – Phường 3 – Quận Phú Nhuận – Thành phố Hồ Chí Minh</p>

            <p>Điện thoại: (84-28) 39951703 – Fax: <span style="line-height: 20.7999992370605px;">(</span><span style="line-height: 20.7999992370605px;">84-28) 39951702</span>&nbsp;– Email: pnj@pnj.com.vn</p>

            <p>Giấy chứng nhận đăng ký kinh doanh: 0300521758</p>

            <p>Mã số thuế: 0300521758</p>

            <p>Loại hình công ty: Công ty cổ phần</p>

            <p>Người đại diện theo pháp luật: Bà Cao Thị Ngọc Dung – Chức danh&nbsp;Tổng giám đốc</p>

            <p>Vốn điều lệ: 755.970.350.000 đồng (bảy trăm năm mươi lăm tỷ, chín trăm bảy mươi triệu, ba trăm năm mươi&nbsp;ngàn đồng)</p>

            <p>Ngành nghề kinh doanh chính:</p>

            <p>Sản xuất kinh doanh trang sức bằng vàng, bạc, đá quý, phụ kiện thời trang, quà lưu niệm. Kinh doanh đồng hồ và mua bán vàng miếng</p>

            <p>Dịch vụ kiểm định kim cương, đá quý, kim loại quý</p>

            <p>Kinh doanh bất động sản</p>
        </div>

        <div class="clearfix">&nbsp;</div>
    </div>
</div>