@model List<WebFinal.Models.LoaiSanPham>

@if (Model != null)
{
    foreach (var item in Model)
    {
<div class="products-container">
    @*Tiêu đề*@
    <div class="header-title">
        <h2>@item.TenLoaiSP</h2>
    </div>
    @*Hiển thị sản phẩm theo loại*@
    @Html.Action("_SanPhamTheoLoai", "SanPham", new {@MaLoaiSP = item.MaLoaiSP })
</div>
    }
}

