@model List<WebFinal.Models.LoaiSanPham>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <li id="menu-item-115" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15">
            <a href="@Url.Action("Index", "LoaiSanPham", new { @MaLoaiSP=item.MaLoaiSP})">@item.TenLoaiSP</a>
            </li>
    }
}