@model List<WebFinal.Models.LoaiSanPham>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="col-sm-4 col-md-4 col-xs-6 devvn_bannerContent_item">
        <a href="http://bacminhcanh.com/day-chuyen-mat-chu-bang-bac.html">
            <img src="https://bacminhcanh.com/wp-content/uploads/2015/04/DAY-CHUYEN-MAT-CHU.jpg" alt="Dây chuyền mặt chữ" title="Dây chuyền mặt chữ">
        </a>
            </div>
    }
}

