@model List<WebFinal.Models.LoaiSanPham>

<ul>
    @{
        foreach (var item in Model)
        {
            <li class="panel">
                <a href="@Url.Action("Index", "LoaiSanPham", new { @MaLoaiSP=item.MaLoaiSP })">@item.TenLoaiSP </a>@*Link to loai san pham *@
            </li>
        }
    }
</ul>