<ul class="cart-head-new">
    <li class="icon-cart"><a href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
    <li class="text-cart">
        <a href="#">GIỎ HÀNG</a> (<span id="myTotalCart">@ViewBag.TongSoLuong</span>)
    </li>
</ul>