<ul class="cart-head-new">
    <li class="icon-cart"><a href="https://bacminhcanh.com/gio-hang/"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
    <li class="text-cart">
        <a href="https://bacminhcanh.com/gio-hang/">GIỎ HÀNG</a> (<span id="myTotalCart">@ViewBag.TongSoLuong</span>)
    </li>
</ul>