<div class="about-tara-h ">
    <div class="container wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
        <h5>Về trang sức TARA</h5>
        <p>
        </p><p><span style="color: rgb(88, 89, 91); font-family: MyriadRegular, sans-serif; font-size: 15px; line-height: 36px; text-align: center; text-indent: 30px;">Sản phẩm trang sức là một sản phẩm đặc biệt. Quý khách hàng luôn mua nó với sự cân nhắc kỹ lưỡng. Vì bản thân quý khách hoặc chính người thân của quý khách sẽ đeo nó bằng tình cảm từ trái tim.Cũng như thời trang, mỗi người không chỉ có một bộ quần áo, một sản phẩm trang sức mà có nhiều sự lựa chọn khác nhau để thể hiện cá tính của riêng mình. Trang sức cao cấp TARA tự hào là sản phẩm giúp Quý khách thể hiện những phong cách ấy bởi các sản phẩm có sự hòa quyện về phong cách, chuẩn mực về thiết kế và mang trong mình vẻ đẹp vô song [...]</span></p>
        <p></p>
        <a href="@Url.Action("Index","GioiThieu")" title="Chi tiết" class="line-red">Chi tiết</a>

    </div>
</div>