@{
    Layout = "~/Views/Shared/_LayoutChung.cshtml";
    ViewBag.Title = "Home Page";
}



@section  RenderSliderImageForFrontPage{
    @*Slider hình ảnh*@
    <!-- Main Slider ============================================= -->
    <div class="main-slider">
        <div class="layer-slider">
            <ul class="slides">
                @Html.Partial("~/Views/Home/SliderImagePartial.cshtml")
            </ul><!-- end .slides -->
        </div> <!-- end .layer-slider -->
    </div> <!-- end .main-slider -->
}


<div class="shop-area">
    <div class="container">

        <div class="row">
            <!-- left-sidebar start -->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="main-menu side-menu hidden-xs">
                    <nav>
                        @Html.Action("LoaiSanPhamMenuTrai", "LoaiSanPham")
                    </nav>
                </div>
            </div>
            <!-- left-sidebar end -->
            <!-- shop-content start -->
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="shop-content">
                    <!-- Nav tabs -->
                    <!-- Tab panes -->
                    <div class="tab-content" style="padding-top:0px;">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="row">
                                @Html.Action("DanhSachSanPham", "LoaiSanPham")
                            </div>


                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- shop-content end -->
    </div>
</div>
