@{
    Layout = "~/Views/Shared/_LayoutChung.cshtml";
    ViewBag.Title = "Home Page";
}



@section  RenderSliderImageForFrontPage{
    @*Slider hình ảnh*@
    <!-- Main Slider ============================================= -->
    <div class="main-slider">
        <div class="layer-slider">
            <ul class="slides">
                @Html.Partial("~/Views/Home/SliderImagePartial.cshtml")
            </ul><!-- end .slides -->
        </div> <!-- end .layer-slider -->
    </div> <!-- end .main-slider -->
}

<div class="container">
    <section id="main">
        @RenderPage("~/Views/Home/Index/_Intro.cshtml")
        @Html.Action("_Categories", "LoaiSanPham")
        @Html.Action("_Products", "SanPham")
    </section><!-- End Main container -->
</div>


<style>
    
    .devvn_title{
        text-align: center;
    }
    h2.devvn_title {
        font-family: TimesNewRoman,"Times New Roman",Times,Baskerville,georgia,serif;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 28px;
        text-align: center;
        margin: 10px 0 35px;
        line-height: 35px;
        position: relative;
    }

        h2.devvn_title:after {
            background: url(images/title-before.png) no-repeat scroll 0 0;
            bottom: -15px;
            content: "";
            height: 8px;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            width: 165px;
            z-index: 99;
        }

    
</style>
