@model List<WebFinal.Models.POST>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <li>
            <div class="image-slider" title="Creative Works" style="background-image:url('https://demo.themefreesia.com/excellent/wp-content/uploads/sites/17/2017/02/slider-image-2.jpg')"><article class="slider-content"><h2 class="slider-title"><a href="https://demo.themefreesia.com/excellent/2017/02/23/creative-works/" title="Creative Works" rel="bookmark">Creative Works</a></h2><!-- .slider-title --><p class="slider-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><!-- end .slider-text --><div class="slider-buttons"><a title="More Articles" href="" class="btn-default vivid" target="_blank">More Articles</a><a title="Creative Works" href="https://demo.themefreesia.com/excellent/2017/02/23/creative-works/" class="btn-default dark">Continue reading</a></div><!-- end .slider-buttons --></article><!-- end .slider-content --> </div><!-- end .image-slider -->
        </li>
    }
}

<li>
    <div class="image-slider" title="Easy to Start" style="background-image:url('@Url.Content("~/images/posts/banner1.jpg")')"><article class="slider-content"><h2 class="slider-title"><a href="https://demo.themefreesia.com/excellent/2017/02/23/easy-to-start/" title="Easy to Start" rel="bookmark">Easy to Start</a></h2><!-- .slider-title --><p class="slider-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><!-- end .slider-text --><div class="slider-buttons"><a title="More Articles" href="" class="btn-default vivid" target="_blank">More Articles</a><a title="Easy to Start" href="https://demo.themefreesia.com/excellent/2017/02/23/easy-to-start/" class="btn-default dark">Continue reading</a></div><!-- end .slider-buttons --></article><!-- end .slider-content --> </div><!-- end .image-slider -->
</li>

<li>
    <div class="image-slider" title="Easy to Start" style="background-image:url('@Url.Content("~/images/posts/banner2.jpg")')"><article class="slider-content"><h2 class="slider-title"><a href="https://demo.themefreesia.com/excellent/2017/02/23/easy-to-start/" title="Easy to Start" rel="bookmark">Easy to Start</a></h2><!-- .slider-title --><p class="slider-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><!-- end .slider-text --><div class="slider-buttons"><a title="More Articles" href="" class="btn-default vivid" target="_blank">More Articles</a><a title="Easy to Start" href="https://demo.themefreesia.com/excellent/2017/02/23/easy-to-start/" class="btn-default dark">Continue reading</a></div><!-- end .slider-buttons --></article><!-- end .slider-content --> </div><!-- end .image-slider -->
</li>

<li>
    <div class="image-slider" title="Easy to Start" style="background-image:url('@Url.Content("~/images/posts/banner3.jpg")')"><article class="slider-content"><h2 class="slider-title"><a href="https://demo.themefreesia.com/excellent/2017/02/23/easy-to-start/" title="Easy to Start" rel="bookmark">Easy to Start</a></h2><!-- .slider-title --><p class="slider-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><!-- end .slider-text --><div class="slider-buttons"><a title="More Articles" href="" class="btn-default vivid" target="_blank">More Articles</a><a title="Easy to Start" href="https://demo.themefreesia.com/excellent/2017/02/23/easy-to-start/" class="btn-default dark">Continue reading</a></div><!-- end .slider-buttons --></article><!-- end .slider-content --> </div><!-- end .image-slider -->
</li>