@model WebFinal.Models.SanPham

@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Shared/_LayoutChung.cshtml";
}

<div class="row">
    
    <!-- left-sidebar start -->
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="main-menu side-menu hidden-xs">
            <nav>
                @Html.Action("_LoaiSanPhamMenuTrai", "LoaiSanPham")
            </nav>
        </div>
    </div>
    <!-- left-sidebar end -->



    <div class="col-lg-9 col-md-9">
        <div id="msg"></div>
        <div class="row">

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="item_medium"><a href="" title="Nhẫn bạc mặt đá Oval đỏ NN048"> <img src="https://bacminhcanh.com/wp-content/uploads/2018/05/nhan-bac-mat-da-Oval-do-1.jpg" width="380" alt="Nhẫn bạc mặt đá Oval đỏ NN048"></a> </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <table width="100%" cellspacing="2" cellpadding="5" class="devvn_table_single_prod">
                    <tbody>
                        <tr class="row_att">
                            <td class="item_property_name">Sản phẩm</td>
                            <td colspan="2" class="tit-pro"><h1 class="item_view_title">Nhẫn bạc mặt đá Oval đỏ NN048</h1></td>
                        </tr>
                        <tr class="row_att">
                            <td class="item_property_name">Trạng thái</td>
                            <td><span class="hangmoi">Mới về</span></td>
                        </tr>
                        <tr class="row_att">
                            <td class="item_property_name">Giá</td>
                            <td><span class="price">390,000 VNĐ</span></td>
                        </tr>

                        <tr class="row_att">
                            <td class="item_property_name">Chất liệu</td>
                            <td>Bạc ta 925</td>
                        </tr>

                        <tr class="row_att">
                            <td class="item_property_name">Bảo hành</td>
                            <td>Làm sáng miễn phí trọn đời</td>
                        </tr>
                        <tr class="row_att">
                            <td class="item_property_name">Xuất xứ</td>
                            <td>Làng Nghề Vàng Bạc Châu Khê</td>
                        </tr>



                        <tr class="row_att">
                            <td class="item_property_name">Mua hàng</td>
                            <td>
                                <form action="#" method="post">
                                    <input type="hidden" name="pid" value="11348">
                                    <input type="button" name="addToCart" id="addToCart" value="THÊM VÀO GIỎ HÀNG" class="wp-button" style="cursor: pointer;">
                                </form>
                            </td>
                        </tr>
                        <tr class="row_att">
                            <td class="item_property_name">Hotline</td>
                            <td span="" class="price">0963.628.375</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <br class="clear">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2 class="tabhead">Thông tin sản phẩm</h2>
                <div class="tabcontent">
                    <p>Nhẫn bạc dành cho nam thiết kế tạo hình mặt đá hình Oval mầu đỏ quyến rũ.</p>
                    <p>
                        – Mã sản phẩm : NN048<br>
                        – Giá : 390,000 đ<br>
                        – Kích thước nhẫn: đường kính 1,8 – 1,9 cm&nbsp;(&nbsp;<a href="https://bacminhcanh.com/huong-dan-cach-size-nhan-khi-mua-hang-online.html" target="_blank" rel="noopener">cách đo size nhẫn&nbsp;</a>)<br>
                        – Chất liệu : &nbsp;Bạc ta 925<br>
                        – Bảo hành : Bảo hành làm sáng miễn phí trọn đời
                    </p>
                    <p><img class="alignnone size-full wp-image-11350" src="https://bacminhcanh.com/wp-content/uploads/2018/05/nhan-bac-mat-da-Oval-do-2.jpg" alt="" width="600" height="600" srcset="https://bacminhcanh.com/wp-content/uploads/2018/05/nhan-bac-mat-da-Oval-do-2.jpg 600w, https://bacminhcanh.com/wp-content/uploads/2018/05/nhan-bac-mat-da-Oval-do-2-150x150.jpg 150w, https://bacminhcanh.com/wp-content/uploads/2018/05/nhan-bac-mat-da-Oval-do-2-300x300.jpg 300w" sizes="(max-width: 600px) 100vw, 600px"></p>
                    <p>5 LÝ DO YÊN TÂM MUA HÀNG TẠI BẠC MINH CẢNH</p>
                    <p>----------------------------------------------</p>
                    <ol>
                        <li>Sản phẩm&nbsp;được sản xuất tại làng nghề vàng bạc truyền thống Châu Khê - Hải Dương.</li>
                        <li>Cam kết các sản phẩm được làm trên chất liệu bạc ta 925.</li>
                        <li>Bảo hành làm sáng miễn phí trọn đời.</li>
                        <li>Nhận hàng thanh toán tiền tại nhà trên toàn quốc ( áp dụng với hàng có sẵn ).</li>
                        <li>Hoàn tiền 100% nếu không phải là bạc.</li>
                    </ol>
                    <p>
                        <b>Quý khách có nhu cầu mua hàng, vui lòng liên hệ theo một trong các thông tin sau: </b><br>
                        <b>Hotline:</b> 0963.628.375 &amp; 0985.17.2323<br>
                        <b>Add:</b> 28 ngõ 151 Nguyễn Đức Cảnh, Hà Nội<br>
                        <b>Thời gian làm việc:</b> 9h sáng -&gt; 8h tối<br>
                    </p>
                    <div class="wp_rp_wrap  wp_rp_vertical_m" id="wp_rp_first"><div class="wp_rp_content"><h3 class="related_post_title">Sản phẩm liên quan</h3><ul class="related_post wp_rp"><li data-position="0" data-poid="in-170" data-post-type="none"><a href="https://bacminhcanh.com/nhan-bac-nam-mat-da-do-nn008.html" class="wp_rp_thumbnail"><img src="https://bacminhcanh.com/wp-content/uploads/2014/04/nhan-bac-nam-mat-da-tron-111-1-150x150.jpg" alt="Nhẫn bạc nam mặt đá tròn đỏ NN008" width="150" height="150"></a><a href="https://bacminhcanh.com/nhan-bac-nam-mat-da-do-nn008.html" class="wp_rp_title">Nhẫn bạc nam mặt đá tròn đỏ NN008</a></li><li data-position="1" data-poid="in-8266" data-post-type="none"><a href="https://bacminhcanh.com/nhan-bac-nam-cho-nguoi-tay-nho-nn042.html" class="wp_rp_thumbnail"><img src="https://bacminhcanh.com/wp-content/uploads/2017/01/nhan-bac-nam-cho-nguoi-tay-nho-1-150x150.jpg" alt="Nhẫn bạc nam cho người tay nhỏ NN042" width="150" height="150"></a><a href="https://bacminhcanh.com/nhan-bac-nam-cho-nguoi-tay-nho-nn042.html" class="wp_rp_title">Nhẫn bạc nam cho người tay nhỏ NN042</a></li><li data-position="2" data-poid="in-4911" data-post-type="none"><a href="https://bacminhcanh.com/nhan-bac-nam-ca-tinh-nn029.html" class="wp_rp_thumbnail"><img src="https://bacminhcanh.com/wp-content/uploads/2016/02/nhan-bac-nam-ca-tinh-nn029-1-150x150.jpg" alt="Nhẫn bạc nam cá tính NN029" width="150" height="150"></a><a href="https://bacminhcanh.com/nhan-bac-nam-ca-tinh-nn029.html" class="wp_rp_title">Nhẫn bạc nam cá tính NN029</a></li><li data-position="3" data-poid="in-158" data-post-type="none"><a href="https://bacminhcanh.com/nhan-bac-nam-mat-da-do-nn005.html" class="wp_rp_thumbnail"><img src="https://bacminhcanh.com/wp-content/uploads/2015/05/nhan-bac-nam-da-do-nn005-25-1-150x150.jpg" alt="Nhẫn bạc Nam mặt đá đỏ NN005" width="150" height="150"></a><a href="https://bacminhcanh.com/nhan-bac-nam-mat-da-do-nn005.html" class="wp_rp_title">Nhẫn bạc Nam mặt đá đỏ NN005</a></li><li data-position="4" data-poid="in-5973" data-post-type="none"><a href="https://bacminhcanh.com/nhan-bac-nam-rong-cuon-ngoc-nn033.html" class="wp_rp_thumbnail"><img src="https://bacminhcanh.com/wp-content/uploads/2016/02/nhan-bac-nam-rong-cuon-ngoc-da-do-nn033-1-150x150.jpg" alt="Nhẫn bạc nam rồng cuộn ngọc đá đỏ NN033" width="150" height="150"></a><a href="https://bacminhcanh.com/nhan-bac-nam-rong-cuon-ngoc-nn033.html" class="wp_rp_title">Nhẫn bạc nam rồng cuộn ngọc đá đỏ NN033</a></li><li data-position="5" data-poid="in-382" data-post-type="none"><a href="https://bacminhcanh.com/nhan-da-bac-ta-925-nn013.html" class="wp_rp_thumbnail"><img src="https://bacminhcanh.com/wp-content/uploads/2014/05/nhan-my-da-do-nn013-148-1-150x150.jpg" alt="Nhẫn Mỹ đá đỏ bạc ta 925 NN013" width="150" height="150"></a><a href="https://bacminhcanh.com/nhan-da-bac-ta-925-nn013.html" class="wp_rp_title">Nhẫn Mỹ đá đỏ bạc ta 925 NN013</a></li></ul></div></div>                                 <p class="tags"> Tags: <a href="https://bacminhcanh.com/tag/nhan-da-do" rel="tag">Nhẫn đá đỏ</a></p>                        <div class="fb-comments fb_iframe_widget fb_iframe_widget_fluid" data-href="http://bacminhcanh.com/nhan-bac-mat-da-oval-do-nn048.html" data-numposts="8" data-mobile="Auto-detected" data-order-by="reverse_time" data-width="100%" width="100%" fb-xfbml-state="rendered"><span style="height: 178px;"><iframe id="f5fe3d078e128" name="f263faf6e6ea0d8" scrolling="no" title="Facebook Social Plugin" class="fb_ltr" src="https://www.facebook.com/plugins/comments.php?api_key=713269685548041&amp;channel_url=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FRQ7NiRXMcYA.js%3Fversion%3D42%23cb%3Df103efaf881a84c%26domain%3Dbacminhcanh.com%26origin%3Dhttps%253A%252F%252Fbacminhcanh.com%252Ff6d8067097f754%26relation%3Dparent.parent&amp;href=http%3A%2F%2Fbacminhcanh.com%2Fnhan-bac-mat-da-oval-do-nn048.html&amp;locale=vi_VN&amp;mobile=false&amp;numposts=8&amp;order_by=reverse_time&amp;sdk=joey&amp;version=v2.3&amp;width=100%25" style="border: none; overflow: hidden; height: 178px; width: 100%;"></iframe></span></div>
                </div>
            </div>
        </div>
    </div>

</div>

<style>
    .item_medium {
        margin-bottom: 15px;
    }
    table.devvn_table_single_prod tr td {
        border-bottom: 1px solid #eee;
        padding: 8px 0;
    }
        table.devvn_table_single_prod tr td, table.devvn_table_single_prod tr td * {
            font-size: 14px !important;
        }
    .row_att {
    }

    .item_property_name {
        padding: 5px 0px;
        border-bottom: #EEE dotted 1px;
    }
    .tit-pro {
        width: 65%;
    }
    .devvn_hangmoi, .devvn_hangxemnhieu {
        margin-bottom: 10px;
    }
    .hethang {
        color: #C55C5E;
    }

    .conhang {
    }

    .hangmoi {
        color: #66B678;
    }
    .price {
        font-size: 12px;
        color: #FF0000;
    }

    .price_old {
        font-size: 12px;
        color: #A6A6A6;
        text-decoration: line-through;
    }
    .tabhead {
        width: 160px;
        background: #EEE;
        color: #000;
        text-transform: uppercase;
        margin: 0;
        padding: 5px 10px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px 5px;
        border-top-right-radius: 5px 5px;
        font-size: 12px;
    }

    .tabcontent {
        border: #EEE solid 3px;
        padding: 10px 10px;
    }

    ul.relate_product {
        margin: 0;
        padding: 0;
    }

        ul.relate_product li {
            width: 60px;
            height: 60px;
            padding: 2px;
            float: left;
            margin: 0 10px 15px 0px;
            border: #EEE solid 1px;
            overflow: hidden;
        }

            ul.relate_product li img {
                width: 60px;
                height: 60px;
            }
    .clear {
        clear: both;
        padding: 0;
        margin: 0;
    }
    .clear {
        clear: both;
        height: 0;
        font-size: 1px;
        line-height: 0px;
    }
    .wp_rp_wrap .related_post_title {
        clear: both;
        padding: 0 !important;
        margin: 0 !important;
    }ul.related_post {
	display: inline-block !important;
	position: relative !important;
	margin: 0 !important;
	padding: 0 !important;
}
ul.related_post li {
	position: relative !important;
	display: inline-block !important;
	vertical-align: top !important;
	zoom: 1 !important;
	*display: inline !important;
	width: 100px !important;
	margin: 10px 10px 10px 0px !important;
	padding: 0 !important;
	background: none !important;
}
ul.related_post li a {
	position: relative !important;
	display: block !important;
	font-size: 12px !important;
	line-height: 1.5em !important;
	text-decoration: none !important;
	margin-bottom: 5px !important;
	text-indent: 0 !important;
}
ul.related_post li img {
	display: block !important;
	width: 100px !important;
	height: 100px !important;
	max-width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
	background: none !important;
	border: none !important;

	border-radius: 3px !important;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) !important;
}

ul.related_post li a img.wp_rp_santa_hat {
	display: none !important;
}

ul.related_post li small {
	font-size: 80%;
}

</style>