@{
    Layout = "~/Views/Shared/_LayoutChung.cshtml";
    ViewBag.Title = "Shop";
}

<div class="shop-area">
    <div class="container">

        <div class="row">
            <!-- left-sidebar start -->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="main-menu side-menu hidden-xs">
                    <nav>
                        <ul>
                            <li class="panel">
                                <a href="https://www.mijewels.com/category.php?id=20&amp;name=925-Sterling-Silver-Ring">925 Sterling Silver Ring <i class="fa fa-chevron-circle-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=65&amp;name=Solid-Silver-Ring">Solid Silver Ring </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=64&amp;name=Engagement-&amp;-Wedding-Rings">Engagement &amp; Wedding Rings </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=85&amp;name=Silver-Plain-Rings">Silver Plain Rings </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=47&amp;name=Silver-Gemstone-Rings">Silver Gemstone Rings </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=49&amp;name=Inspired-Heart-Silver-Rings">Inspired Heart Silver Rings </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=48&amp;name=Silver-Engraved-Rings">Silver Engraved Rings </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=50&amp;name=Silver-Sea-Shell-Rings">Silver Sea Shell Rings </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=51&amp;name=Silver-Zodiac-Sign-Rings">Silver Zodiac Sign Rings </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=52&amp;name=Silver-Pearls-Rings">Silver Pearls Rings </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=53&amp;name=Silver-Spin-Rings">Silver Spin Rings </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=56&amp;name=Silver-Celtic-Rings">Silver Celtic Rings </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=55&amp;name=Silver-Engraved-Rings">Silver Engraved Rings </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=54&amp;name=Silver-Natural-Gemstone-Rings">Silver Natural Gemstone Rings </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=82&amp;name=Silver-Inlaid-Ring">Silver Inlaid Ring </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=91&amp;name=Gold-Plated-Silver-Ring">Gold Plated Silver Ring </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=92&amp;name=Pink-Gold-Plated-Ring">Pink Gold Plated Ring </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=93&amp;name=Rhodium-Plated-Ring">Rhodium Plated Ring </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=90&amp;name=Prince-William-Kate-Engagement-Ring">Prince William Kate Engagement Ring </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=96&amp;name=Silver-Crystal-Rings">Silver Crystal Rings </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="https://www.mijewels.com/category.php?id=19&amp;name=925-Sterling-Silver-Pendant">925 Sterling Silver Pendant <i class="fa fa-chevron-circle-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=57&amp;name=Silver-Plain-Pendants">Silver Plain Pendants </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=58&amp;name=Silver-Cross-Pendant">Silver Cross Pendant </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=59&amp;name=Silver-Gemstone-Pendant">Silver Gemstone Pendant </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=60&amp;name=Heart-Symbol-Pendants">Heart Symbol Pendants </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=84&amp;name=Silver-Pendant-mounted">Silver Pendant mounted </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=61&amp;name=Silver-Alphabet-Pendants">Silver Alphabet Pendants </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=40&amp;name=Inlay-&amp;-Shell-Gemstone-Pendants">Inlay &amp; Shell Gemstone Pendants </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=63&amp;name=Silver-Pearls-Pendants">Silver Pearls Pendants </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=62&amp;name=Natural-Gemstone-Pendant">Natural Gemstone Pendant </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=89&amp;name=Silver-Crystal-Pendant">Silver Crystal Pendant </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=94&amp;name=Rhodium-Plated-Silver-Pendant">Rhodium Plated Silver Pendant </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=95&amp;name=18k-Gold-Plated-Silver-Pendant">18k Gold Plated Silver Pendant </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="https://www.mijewels.com/category.php?id=26&amp;name=925-Sterling-Silver-Earring">925 Sterling Silver Earring <i class="fa fa-chevron-circle-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=41&amp;name=Silver-Plain-Earring">Silver Plain Earring </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=83&amp;name=Heart-Symbol-Earring">Heart Symbol Earring </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=42&amp;name=Silver-Gemstone-Earring">Silver Gemstone Earring </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=43&amp;name=Silver-Inlay-&amp;-shell-Earring">Silver Inlay &amp; shell Earring </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=45&amp;name=Silver-Child-Earring">Silver Child Earring </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=44&amp;name=Silver-Pearl-Earrings">Silver Pearl Earrings </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=39&amp;name=Silver-Dangle-&amp;-Bali-Hoops">Silver Dangle &amp; Bali Hoops </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=46&amp;name=Silver-Enamel-Earring">Silver Enamel Earring </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=37&amp;name=Silver-Fancy-Earring">Silver Fancy Earring </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=97&amp;name=Silver-Crystal-Earrings">Silver Crystal Earrings </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="https://www.mijewels.com/category.php?id=8&amp;name=925-Sterling-Silver-Bracelets">925 Sterling Silver Bracelets <i class="fa fa-chevron-circle-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=38&amp;name=Silver-Gemstone-Bracelets">Silver Gemstone Bracelets </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=32&amp;name=Silver-Plain-Bracelets">Silver Plain Bracelets </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=98&amp;name=Natural-Gems-Bracelet">Natural Gems Bracelet </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=100&amp;name=Fresh-Water-Pearl-Bracelet">Fresh Water Pearl Bracelet </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="https://www.mijewels.com/category.php?id=12&amp;name=925-Sterling-Silver-Bangles">925 Sterling Silver Bangles <i class="fa fa-chevron-circle-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=36&amp;name=Silver-Bangle">Silver Bangle </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="https://www.mijewels.com/category.php?id=15&amp;name=925-Sterling-Silver-Toe-Ring">925 Sterling Silver Toe Ring <i class="fa fa-chevron-circle-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=31&amp;name=Silver-Oxidized-Toe-Ring">Silver Oxidized Toe Ring </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=30&amp;name=Silver-Enamel-Toe-ring">Silver Enamel Toe ring </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=35&amp;name=Silver-Gemstone-Toe-Ring">Silver Gemstone Toe Ring </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=34&amp;name=Silver-Plain-Toe-Ring">Silver Plain Toe Ring </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="https://www.mijewels.com/category.php?id=13&amp;name=925-Sterling-Silver-Pill-box">925 Sterling Silver Pill box <i class="fa fa-chevron-circle-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=33&amp;name=Silver-Pill-Box">Silver Pill Box </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="https://www.mijewels.com/category.php?id=22&amp;name=Sterling-Silver-Necklace">Sterling Silver Necklace <i class="fa fa-chevron-circle-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=66&amp;name=Silver-Necklace">Silver Necklace </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="https://www.mijewels.com/category.php?id=16&amp;name=925-Sterling-Silver-Lockets">925 Sterling Silver Lockets <i class="fa fa-chevron-circle-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=67&amp;name=925-Sterling-Silver-Locket">925 Sterling Silver Locket </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="https://www.mijewels.com/category.php?id=18&amp;name=925-Sterling-Silver-Prayer-Box">925 Sterling Silver Prayer Box <i class="fa fa-chevron-circle-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=69&amp;name=Silver-Prayerbox">Silver Prayerbox </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="https://www.mijewels.com/category.php?id=17&amp;name=925-Sterling-Silver-Chain">925 Sterling Silver Chain <i class="fa fa-chevron-circle-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=68&amp;name=Silver-Chain">Silver Chain </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="https://www.mijewels.com/category.php?id=3&amp;name=925-Sterling-Silver-Anklets">925 Sterling Silver Anklets <i class="fa fa-chevron-circle-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=70&amp;name=Silver-Anklets">Silver Anklets </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="https://www.mijewels.com/category.php?id=6&amp;name=Natural-Gemstone-Jewelry">Natural Gemstone Jewelry <i class="fa fa-chevron-circle-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=77&amp;name=Natural-Gemstone-Ring">Natural Gemstone Ring </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=99&amp;name=Natural-Gemstone-Bracelet">Natural Gemstone Bracelet </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=115&amp;name=Natural-Gemstone-Earring">Natural Gemstone Earring </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=116&amp;name=Natural-Gemstone-Pendant">Natural Gemstone Pendant </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="https://www.mijewels.com/category.php?id=7&amp;name=Tungsten-Fancy-Ring">Tungsten Fancy Ring <i class="fa fa-chevron-circle-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=71&amp;name=Tungsten-Fancy-Ring">Tungsten Fancy Ring </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="https://www.mijewels.com/category.php?id=5&amp;name=Marcasite-Jewelry">Marcasite Jewelry <i class="fa fa-chevron-circle-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=75&amp;name=Marcasite-Brooch">Marcasite Brooch </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=86&amp;name=Marcasite-Ring">Marcasite Ring </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=87&amp;name=Marcasite-Earring">Marcasite Earring </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=88&amp;name=Marcasite-Pendant">Marcasite Pendant </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=112&amp;name=Marcasite-Bracelet">Marcasite Bracelet </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=113&amp;name=Marcasite-Necklace">Marcasite Necklace </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="https://www.mijewels.com/category.php?id=2&amp;name=Stainless-Steel-Jewelry">Stainless Steel Jewelry <i class="fa fa-chevron-circle-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=72&amp;name=Stainless-Steel-Ring">Stainless Steel Ring </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=73&amp;name=Stainless-Steel-Pendants">Stainless Steel Pendants </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="https://www.mijewels.com/category.php?id=1&amp;name=Fashion-Watches">Fashion Watches <i class="fa fa-chevron-circle-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=74&amp;name=Gemstone-Watch">Gemstone Watch </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="https://www.mijewels.com/category.php?id=21&amp;name=Natural-Gemstones">Natural Gemstones <i class="fa fa-chevron-circle-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=78&amp;name=Natural-Genuine-Ruby-Gemstone">Natural Genuine Ruby Gemstone </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="https://www.mijewels.com/category.php?id=14&amp;name=Body-Piercing-Jewelry">Body Piercing Jewelry <i class="fa fa-chevron-circle-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=79&amp;name=Enamal-Body-Piercing">Enamal Body Piercing </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=80&amp;name=Gemstone-Body-Piercing">Gemstone Body Piercing </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=81&amp;name=Steel-Nipple-Jewelry">Steel Nipple Jewelry </a>
                                    </li>
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=101&amp;name=Nose-Pin">Nose Pin </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="https://www.mijewels.com/category.php?id=4&amp;name=Jewelry-Box">Jewelry Box <i class="fa fa-chevron-circle-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=76&amp;name=Jewelry-Box">Jewelry Box </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="https://www.mijewels.com/category.php?id=23&amp;name=Sterling-Silver-Cufflinks">Sterling Silver Cufflinks <i class="fa fa-chevron-circle-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=102&amp;name=Sterling-Silver-Cufflinks">Sterling Silver Cufflinks </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="https://www.mijewels.com/category.php?id=24&amp;name=Findings">Findings <i class="fa fa-chevron-circle-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=103&amp;name=Findings">Findings </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="https://www.mijewels.com/category.php?id=27&amp;name=Sterling-Silver-Choker">Sterling Silver Choker <i class="fa fa-chevron-circle-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=110&amp;name=Silver-Choker">Silver Choker </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="https://www.mijewels.com/category.php?id=28&amp;name=Set-Jewelry">Set Jewelry <i class="fa fa-chevron-circle-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=111&amp;name=Set-Jewelry">Set Jewelry </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="https://www.mijewels.com/category.php?id=29&amp;name=Crystal-Jewelry">Crystal Jewelry <i class="fa fa-chevron-circle-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=114&amp;name=Rings-Earrings-Pendants">Rings-Earrings-Pendants </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="https://www.mijewels.com/category.php?id=9&amp;name=Jewelry-Cleaning-&amp;-Polishing">Jewelry Cleaning &amp; Polishing <i class="fa fa-chevron-circle-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=117&amp;name=Jewelry-Cleaning-and-Polishing">Jewelry Cleaning and Polishing </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="https://www.mijewels.com/category.php?id=10&amp;name=Semi-Mount-Silver-Jewelry">Semi Mount Silver Jewelry <i class="fa fa-chevron-circle-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=118&amp;name=Unpolished-Semi-Mount">Unpolished Semi Mount </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="https://www.mijewels.com/category.php?id=11&amp;name=Jewelry-Accessories">Jewelry Accessories <i class="fa fa-chevron-circle-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="panel">
                                        <a href="https://www.mijewels.com/product.php?id=119&amp;name=Digital-Scale">Digital Scale </a>
                                    </li>
                                </ul>
                            </li>


                        </ul>
                    </nav>
                </div>
            </div>
            <!-- left-sidebar end -->
            <!-- shop-content start -->
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="shop-content">
                    <!-- Nav tabs -->
                    <!-- Tab panes -->
                    <div class="tab-content" style="padding-top:0px;">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="row">
                                <!-- single-product start -->
                                <div style="height:270px" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="https://www.mijewels.com/category.php?id=20&amp;name=925-Sterling-Silver-Ring">
                                                <img class="primary-img" src="https://www.mijewels.com/image/cache/ring_150x150.jpg" alt="Sterling Silver Ring">
                                            </a>
                                            <div class="product-action">
                                                <div class="pro-button-top">
                                                    <a href="https://www.mijewels.com/category.php?id=20&amp;name=925-Sterling-Silver-Ring">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3><a href="#">Silver Rings</a></h3>

                                            <h5>Click for (2280 Designs)</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div style="height:270px" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="https://www.mijewels.com/category.php?id=19&amp;name=925-Sterling-Silver-Pendant">
                                                <img class="primary-img" src="https://www.mijewels.com/image/cache/product/sterling-silver-pendants_150x150.jpg" alt="Sterling Silver Pendant">
                                            </a>
                                            <div class="product-action">
                                                <div class="pro-button-top">
                                                    <a href="https://www.mijewels.com/category.php?id=19&amp;name=925-Sterling-Silver-Pendant">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3><a href="#">Silver Pendant</a></h3>

                                            <h5>Click for (871 Designs)</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div style="height:270px" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="https://www.mijewels.com/category.php?id=8&amp;name=925-Sterling-Silver-Bracelets">
                                                <img class="primary-img" src="https://www.mijewels.com/image/cache/product/sterling-silver-bracelets_150x150.jpg" alt="Sterling Silver Bracelets">
                                            </a>
                                            <div class="product-action">
                                                <div class="pro-button-top">
                                                    <a href="https://www.mijewels.com/category.php?id=8&amp;name=925-Sterling-Silver-Bracelets">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3><a href="#">Silver Bracelets</a></h3>

                                            <h5>Click for (48 Designs)</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div style="height:270px" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="https://www.mijewels.com/category.php?id=26&amp;name=925-Sterling-Silver-Earring">
                                                <img class="primary-img" src="https://www.mijewels.com/image/cache/product/sterling-silver-earrings_150x150.jpg" alt="Sterling Silver Earring">
                                            </a>
                                            <div class="product-action">
                                                <div class="pro-button-top">
                                                    <a href="https://www.mijewels.com/category.php?id=26&amp;name=925-Sterling-Silver-Earring">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3><a href="#">Silver Earrings</a></h3>

                                            <h5>Click for (583 Designs)</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div style="height:270px" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="https://www.mijewels.com/category.php?id=12&amp;name=925-Sterling-Silver-Bangles">
                                                <img class="primary-img" src="https://www.mijewels.com/image/cache/product/sterling-silver-bangles_150x150.jpg" alt="Sterling Silver Bangles">
                                            </a>
                                            <div class="product-action">
                                                <div class="pro-button-top">
                                                    <a href="https://www.mijewels.com/category.php?id=12&amp;name=925-Sterling-Silver-Bangles">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3><a href="#">Silver Bangles</a></h3>

                                            <h5>Click for (29 Designs)</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div style="height:270px" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="https://www.mijewels.com/category.php?id=13&amp;name=925-Sterling-Silver-Pill-box">
                                                <img class="primary-img" src="https://www.mijewels.com/image/cache/product/sterling-silver-pillbox _150x150.jpg" alt="Sterling Silver Pillbox">
                                            </a>
                                            <div class="product-action">
                                                <div class="pro-button-top">
                                                    <a href="https://www.mijewels.com/category.php?id=13&amp;name=925-Sterling-Silver-Pill-box">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3><a href="#">Silver Pillbox</a></h3>

                                            <h5>Click for (19 Designs)</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div style="height:270px" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="https://www.mijewels.com/category.php?id=15&amp;name=925-Sterling-Silver-Toe-Ring">
                                                <img class="primary-img" src="https://www.mijewels.com/image/cache/product/sterling-silver-toe-rings_150x150.jpg" alt="Sterling Silver Toe Ring">
                                            </a>
                                            <div class="product-action">
                                                <div class="pro-button-top">
                                                    <a href="https://www.mijewels.com/category.php?id=15&amp;name=925-Sterling-Silver-Toe-Ring">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3><a href="#">Silver Toe Ring</a></h3>

                                            <h5>Click for (148 Designs)</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div style="height:270px" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="https://www.mijewels.com/category.php?id=22&amp;name=Sterling-Silver-Necklace">
                                                <img class="primary-img" src="https://www.mijewels.com/image/cache/product/sterling-silver-necklace_150x150.jpg" alt="Sterling Silver Necklace">
                                            </a>
                                            <div class="product-action">
                                                <div class="pro-button-top">
                                                    <a href="https://www.mijewels.com/category.php?id=22&amp;name=Sterling-Silver-Necklace">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3><a href="#">Sterling Silver Necklace</a></h3>

                                            <h5>Click for (15 Designs)</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div style="height:270px" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="https://www.mijewels.com/category.php?id=16&amp;name=925-Sterling-Silver-Lockets">
                                                <img class="primary-img" src="https://www.mijewels.com/image/cache/product/sterling-silver-lockets_150x150.jpg" alt="Sterling Silver Lockets">
                                            </a>
                                            <div class="product-action">
                                                <div class="pro-button-top">
                                                    <a href="https://www.mijewels.com/category.php?id=16&amp;name=925-Sterling-Silver-Lockets">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3><a href="#">Silver Lockets</a></h3>

                                            <h5>Click for (48 Designs)</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div style="height:270px" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="https://www.mijewels.com/category.php?id=17&amp;name=925-Sterling-Silver-Chain">
                                                <img class="primary-img" src="https://www.mijewels.com/image/cache/product/sterling-silver-chains_150x150.jpg" alt="Sterling Silver Chain">
                                            </a>
                                            <div class="product-action">
                                                <div class="pro-button-top">
                                                    <a href="https://www.mijewels.com/category.php?id=17&amp;name=925-Sterling-Silver-Chain">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3><a href="#">Silver Chain</a></h3>

                                            <h5>Click for (98 Designs)</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div style="height:270px" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="https://www.mijewels.com/category.php?id=18&amp;name=925-Sterling-Silver-Prayer-Box">
                                                <img class="primary-img" src="https://www.mijewels.com/image/cache/product/sterling-silver-prayer-box_150x150.jpg" alt="Sterling Silver Prayer Box">
                                            </a>
                                            <div class="product-action">
                                                <div class="pro-button-top">
                                                    <a href="https://www.mijewels.com/category.php?id=18&amp;name=925-Sterling-Silver-Prayer-Box">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3><a href="#">Silver Prayer Box</a></h3>

                                            <h5>Click for (61 Designs)</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div style="height:270px" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="https://www.mijewels.com/category.php?id=3&amp;name=925-Sterling-Silver-Anklets">
                                                <img class="primary-img" src="https://www.mijewels.com/image/cache/product/sterling-silver-anklets_150x150.jpg" alt="Sterling Silver Anklets">
                                            </a>
                                            <div class="product-action">
                                                <div class="pro-button-top">
                                                    <a href="https://www.mijewels.com/category.php?id=3&amp;name=925-Sterling-Silver-Anklets">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3><a href="#">Anklets</a></h3>

                                            <h5>Click for (3 Designs)</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div style="height:270px" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="https://www.mijewels.com/category.php?id=6&amp;name=Natural-Gemstone-Jewelry">
                                                <img class="primary-img" src="https://www.mijewels.com/image/cache/product/natural_gemstone_jewelry_150x150.jpg" alt="Natural Gemstone Jewelry">
                                            </a>
                                            <div class="product-action">
                                                <div class="pro-button-top">
                                                    <a href="https://www.mijewels.com/category.php?id=6&amp;name=Natural-Gemstone-Jewelry">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3><a href="#">Natural Gemstone Jewelry</a></h3>

                                            <h5>Click for (92 Designs)</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div style="height:270px" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="https://www.mijewels.com/category.php?id=5&amp;name=Marcasite-Jewelry">
                                                <img class="primary-img" src="https://www.mijewels.com/image/cache/product/marcasite-jewelry_150x150.jpg" alt="Marcasite Jewelry">
                                            </a>
                                            <div class="product-action">
                                                <div class="pro-button-top">
                                                    <a href="https://www.mijewels.com/category.php?id=5&amp;name=Marcasite-Jewelry">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3><a href="#">Marcasite Jewelry</a></h3>

                                            <h5>Click for (231 Designs)</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div style="height:270px" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="https://www.mijewels.com/category.php?id=7&amp;name=Tungsten-Fancy-Ring">
                                                <img class="primary-img" src="https://www.mijewels.com/image/cache/product/t2_150x150.jpg" alt="Tungsten Fancy Ring">
                                            </a>
                                            <div class="product-action">
                                                <div class="pro-button-top">
                                                    <a href="https://www.mijewels.com/category.php?id=7&amp;name=Tungsten-Fancy-Ring">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3><a href="#">Tungsten Fancy Ring</a></h3>

                                            <h5>Click for (8 Designs)</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div style="height:270px" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="https://www.mijewels.com/category.php?id=2&amp;name=Stainless-Steel-Jewelry">
                                                <img class="primary-img" src="https://www.mijewels.com/image/cache/product/stainless-steel-jewelry_150x150.jpg" alt="Stainless Steel Jewelry">
                                            </a>
                                            <div class="product-action">
                                                <div class="pro-button-top">
                                                    <a href="https://www.mijewels.com/category.php?id=2&amp;name=Stainless-Steel-Jewelry">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3><a href="#">Stainless Steel Jewelry</a></h3>

                                            <h5>Click for (44 Designs)</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div style="height:270px" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="https://www.mijewels.com/category.php?id=1&amp;name=Fashion-Watches">
                                                <img class="primary-img" src="https://www.mijewels.com/image/cache/product/watches_150x150.jpg" alt="Fashion Watches">
                                            </a>
                                            <div class="product-action">
                                                <div class="pro-button-top">
                                                    <a href="https://www.mijewels.com/category.php?id=1&amp;name=Fashion-Watches">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3><a href="#">Fashion Watches</a></h3>

                                            <h5>Click for (5 Designs)</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div style="height:270px" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="https://www.mijewels.com/category.php?id=21&amp;name=Natural-Gemstones">
                                                <img class="primary-img" src="https://www.mijewels.com/image/cache/product/natural-genuine-ruby_150x150.jpg" alt="Natural Gemstones">
                                            </a>
                                            <div class="product-action">
                                                <div class="pro-button-top">
                                                    <a href="https://www.mijewels.com/category.php?id=21&amp;name=Natural-Gemstones">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3><a href="#">Natural Gemstones</a></h3>

                                            <h5>Click for (9 Designs)</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div style="height:270px" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="https://www.mijewels.com/category.php?id=14&amp;name=Body-Piercing-Jewelry">
                                                <img class="primary-img" src="https://www.mijewels.com/image/cache/product/body-piercing-jewelry_150x150.jpg" alt="Body Piercing Jewelry">
                                            </a>
                                            <div class="product-action">
                                                <div class="pro-button-top">
                                                    <a href="https://www.mijewels.com/category.php?id=14&amp;name=Body-Piercing-Jewelry">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3><a href="#">Body Piercing Jewelry</a></h3>

                                            <h5>Click for (180 Designs)</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div style="height:270px" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="https://www.mijewels.com/category.php?id=4&amp;name=Jewelry-Box">
                                                <img class="primary-img" src="https://www.mijewels.com/image/cache/product/jewelry-boxes_150x150.jpg" alt="Jewelry Box">
                                            </a>
                                            <div class="product-action">
                                                <div class="pro-button-top">
                                                    <a href="https://www.mijewels.com/category.php?id=4&amp;name=Jewelry-Box">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3><a href="#">Jewelry Box</a></h3>

                                            <h5>Click for (21 Designs)</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div style="height:270px" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="https://www.mijewels.com/category.php?id=23&amp;name=Sterling-Silver-Cufflinks">
                                                <img class="primary-img" src="https://www.mijewels.com/image/cache/product/sterling-silver-cufflinks_150x150.jpg" alt="Sterling Silver Cufflinks">
                                            </a>
                                            <div class="product-action">
                                                <div class="pro-button-top">
                                                    <a href="https://www.mijewels.com/category.php?id=23&amp;name=Sterling-Silver-Cufflinks">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3><a href="#">Sterling Silver Cufflinks</a></h3>

                                            <h5>Click for (221 Designs)</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div style="height:270px" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="https://www.mijewels.com/category.php?id=24&amp;name=Findings">
                                                <img class="primary-img" src="https://www.mijewels.com/image/cache/product/MP-022_150x150.jpg" alt="Findings">
                                            </a>
                                            <div class="product-action">
                                                <div class="pro-button-top">
                                                    <a href="https://www.mijewels.com/category.php?id=24&amp;name=Findings">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3><a href="#">Findings</a></h3>

                                            <h5>Click for (3 Designs)</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div style="height:270px" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="https://www.mijewels.com/category.php?id=27&amp;name=Sterling-Silver-Choker">
                                                <img class="primary-img" src="https://www.mijewels.com/image/cache/product/sterling-silver-choker_150x150.jpg" alt="Sterling Silver Choker">
                                            </a>
                                            <div class="product-action">
                                                <div class="pro-button-top">
                                                    <a href="https://www.mijewels.com/category.php?id=27&amp;name=Sterling-Silver-Choker">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3><a href="#">Sterling Silver Choker</a></h3>

                                            <h5>Click for (3 Designs)</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div style="height:270px" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="https://www.mijewels.com/category.php?id=28&amp;name=Set-Jewelry">
                                                <img class="primary-img" src="https://www.mijewels.com/image/cache/product/set-jewelry_150x150.jpg" alt="Set Jewelry">
                                            </a>
                                            <div class="product-action">
                                                <div class="pro-button-top">
                                                    <a href="https://www.mijewels.com/category.php?id=28&amp;name=Set-Jewelry">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3><a href="#">Set Jewelry</a></h3>

                                            <h5>Click for (37 Designs)</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div style="height:270px" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="https://www.mijewels.com/category.php?id=29&amp;name=Crystal-Jewelry">
                                                <img class="primary-img" src="https://www.mijewels.com/image/cache/product/silver-crystal-jewelry_150x150.jpg" alt="Crystal Jewelry">
                                            </a>
                                            <div class="product-action">
                                                <div class="pro-button-top">
                                                    <a href="https://www.mijewels.com/category.php?id=29&amp;name=Crystal-Jewelry">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3><a href="#">Crystal Jewelry</a></h3>

                                            <h5>Click for (106 Designs)</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div style="height:270px" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="https://www.mijewels.com/category.php?id=9&amp;name=Jewelry-Cleaning-&amp;-Polishing">
                                                <img class="primary-img" src="https://www.mijewels.com/image/cache/product/4-1_150x150.jpg" alt="Jewelry Cleaning and Polishing">
                                            </a>
                                            <div class="product-action">
                                                <div class="pro-button-top">
                                                    <a href="https://www.mijewels.com/category.php?id=9&amp;name=Jewelry-Cleaning-&amp;-Polishing">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3><a href="#">Jewelry Cleaning &amp; Polishing</a></h3>

                                            <h5>Click for (5 Designs)</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div style="height:270px" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="https://www.mijewels.com/category.php?id=10&amp;name=Semi-Mount-Silver-Jewelry">
                                                <img class="primary-img" src="https://www.mijewels.com/image/cache/product/ILR-3516_150x150.jpg" alt="Semi Mount Silver Jewelry">
                                            </a>
                                            <div class="product-action">
                                                <div class="pro-button-top">
                                                    <a href="https://www.mijewels.com/category.php?id=10&amp;name=Semi-Mount-Silver-Jewelry">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3><a href="#">Semi Mount Silver Jewelry</a></h3>

                                            <h5>Click for (19 Designs)</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div style="height:270px" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="https://www.mijewels.com/category.php?id=11&amp;name=Jewelry-Accessories">
                                                <img class="primary-img" src="https://www.mijewels.com/image/cache/product/jewelery-access_150x150.jpg" alt="Jewelry Accessories">
                                            </a>
                                            <div class="product-action">
                                                <div class="pro-button-top">
                                                    <a href="https://www.mijewels.com/category.php?id=11&amp;name=Jewelry-Accessories">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3><a href="#">Jewelry Accessories</a></h3>

                                            <h5>Click for (2 Designs)</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->

                            </div>


                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- shop-content end -->
    </div>
</div>
