
<div class="column-4">
    <aside id="text-6" class="widget widget_text">
        <h3 class="widget-title">Contact us</h3>			<div class="textwidget">
            <ul>
                <li><i class="fa fa-clock-o"></i> Open Time: 9am-4pm</li>
                <li><a title="Our Address" href="#"><i class="fa fa-map-marker"></i>  Address: TF Tower, 5th Floor, Zyz Street</a></li>
                <li><a title="Call Us" href="tel:+1234567890"><i class="fa fa-phone-square"></i> (123) 456-7890</a></li>
                <li><a title="Mail Us" href="mailto:support@themefreesia.com"><i class="fa fa-envelope-o"></i> abc@themefreesia.com</a></li>
                <li><a title="Live chat" href="mailto:support@themefreesia.com"><i class="fa fa-skype"></i> themefreesia</a></li>
            </ul>
        </div>
    </aside>
</div><!--end .column4-->