
<div class="column-4">
    <aside id="recent-posts-widget-with-thumbnails-4" class="widget recent-posts-widget-with-thumbnails">
        <div id="rpwwt-recent-posts-widget-with-thumbnails-4" class="rpwwt-widget">
            <h3 class="widget-title">Recent Posts</h3>	<ul>
                <li><a href="https://demo.themefreesia.com/excellent/2017/02/23/build-professionals-professionals-2/"><img width="45" height="45" src="https://demo.themefreesia.com/excellent/wp-content/uploads/sites/17/2017/02/post-image-1-150x150.jpg" class="attachment-45x45 size-45x45 wp-post-image" alt="" /><span class="rpwwt-post-title">Use more link to excerpt below text content</span></a></li>
                <li><a href="https://demo.themefreesia.com/excellent/2017/02/23/specifically-designed-creative-wp-theme/"><img width="45" height="45" src="https://demo.themefreesia.com/excellent/wp-content/uploads/sites/17/2017/02/post-image-2-150x150.jpg" class="attachment-45x45 size-45x45 wp-post-image" alt="" /><span class="rpwwt-post-title">Specifically designed Creative WP theme.</span></a></li>
                <li><a href="https://demo.themefreesia.com/excellent/2017/02/23/build-professionals-professionals/"><img width="45" height="45" src="https://demo.themefreesia.com/excellent/wp-content/uploads/sites/17/2017/02/post-image-3-150x150.jpg" class="attachment-45x45 size-45x45 wp-post-image" alt="" /><span class="rpwwt-post-title">Build by professionals for professionals.</span></a></li>
            </ul>
        </div><!-- .rpwwt-widget -->
    </aside>
</div><!--end .column4  -->