<div class="column-4">
    <aside id="text-3" class="widget widget_text">
        <h3 class="widget-title">Excellent</h3>			<div class="textwidget">
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit consectetur adipiscing elit.</p>
        </div>
    </aside>
</div><!-- end .column4  -->
