<!-- Footer Start ============================================= -->
<footer id="colophon" class="site-footer">
    <div class="widget-wrap">
        <div class="wrap">
            <div class="widget-area">
                @*Footer*@
            </div> <!-- end .widget-area -->
        </div><!-- end .wrap -->
    </div> <!-- end .widget-wrap -->

    <a class="go-to-top">
        <span class="icon-bg"></span>
        <span class="back-to-top-text">Top</span>
        <i class="fa fa-angle-up back-to-top-icon"></i>
    </a>
</footer> <!-- end #colophon -->
        </div><!-- end .site-content-contain -->
<!-- end #page -->
<div style="display:none">
</div>
@Scripts.Render("~/bundles/jquery")
<script type='text/javascript'>
    /* <![CDATA[ */
    var excellent_slider_value = { "excellent_animation_effect": "slide", "excellent_slideshowSpeed": "5000", "excellent_animationSpeed": "700", "excellent_direction": "horizontal" };
            /* ]]> */
</script>
</body>
</html>


