<div class="column-4">
    <aside id="text-8" class="widget widget_text">
        <h3 class="widget-title">How to setup One click demo importer in Excellent?</h3>			<div class="textwidget">
            <p>Please follow the below youtube video to set <a title="One Click Demo Importer" target="_blank" href="https://themefreesia.com/?smd_process_download=1&download_id=12028">One Click Demo Importer</a> plugins to display content as in our Demo Site. </p>

            <iframe src="https://www.youtube.com/embed/fmwipW6dmxk" frameborder="0" allowfullscreen></iframe>
        </div>
    </aside>
</div><!--end .column4  -->
