<!--Animation menu reponsive-->
<script type='text/javascript' src='https://demo.themefreesia.com/excellent/wp-content/themes/excellent/js/excellent-main.js?ver=4.9.5'></script>
<!--Animation sticky menu-->
<script type='text/javascript' src='https://demo.themefreesia.com/excellent/wp-content/themes/excellent/assets/sticky/jquery.sticky.min.js?ver=4.9.5'></script>
<script type='text/javascript' src='https://demo.themefreesia.com/excellent/wp-content/themes/excellent/assets/sticky/sticky-settings.js?ver=4.9.5'></script>
<!--Animation slider-->
<script type='text/javascript' src='https://demo.themefreesia.com/excellent/wp-content/themes/excellent/js/jquery.flexslider.js?ver=4.9.5'></script>
<script type='text/javascript'>
            /* <![CDATA[ */
            var excellent_slider_value = { "excellent_animation_effect": "slide", "excellent_slideshowSpeed": "5000", "excellent_animationSpeed": "700", "excellent_direction": "horizontal" };
            /* ]]> */
</script>
<script type='text/javascript' src='https://demo.themefreesia.com/excellent/wp-content/themes/excellent/js/flexslider-setting.js?ver=4.9.5'></script>
</body>
</html>

